html, body {
    scroll-snap-type: y mandatory;
}
body {
    font-family: system-ui;
    margin: 0;
    padding: 0;
}

body > * {
    padding: 0 10px;
    height: 100vh;
    scroll-snap-align: start;
}

header {
    background-color: #ff0000;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

header h1 {
    margin: 0;
    padding: 0;
}

header ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header li {
    min-width: 10%;
    list-style: none;
}

header li a {
    margin: 10px;
    width: 80%;
    display: block;
    border-bottom: inset;
}